#main-notifications {
    position: fixed;
    z-index: 1002;
    bottom: 0;
    left: 0;
    max-height: 50vh;
    min-width: 30vw;
    max-width: 70vw;
    overflow: auto;
    background-color: var(--accient-color);
    grid-template-columns: min-content 1fr;
    grid-gap: .2em;
    padding: .2em;
    display: none;
}

#close-notifications {
    text-align: right;
    width: var(--fill-parent);
    cursor: pointer;
    align-self: flex-end;
    padding: .2em;
}

#open-notifications{
    background-color: var(--accient-color);
    padding: 1em 1em .3em 1em;
    border-top-right-radius: var(--fill-parent);
    position: fixed;
    z-index: 1001;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

#main-notifications-window {
    display: grid;
    justify-content: center;
    grid-gap: .2em;
    padding: .2em;
}

.single-notification{
    display: grid;
    grid-template-columns: 1fr min-content min-content;
    grid-gap: 1em;
    place-items: center;
    justify-content: center;
    padding: .5em;
    background-color: var(--primary-color);
    border-radius: 10px;
}

.single-notification:hover{
    box-shadow: 2px 2px 5px var(--secondary-color);
}

.single-notification-text{
    overflow: hidden;
}

.notification-item{
    display: grid;
    grid-template-rows: repeat(2, max-content);
    gap: 1em;
    padding: .4em;
    justify-items: flex-start;
}

.notification-item > #notification-message{
    font-size: 1.3em;
}