.report-container {
    display: grid;
    gap: 1em;
    grid-template-rows: max-content 1fr;
    align-items: flex-start;
    justify-items: center;
    width: var(--fill-parent);
}

.report-container-title {
    display: flex;
    justify-items: center;
    align-items: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 1em;
}

#report-window {
    display: grid;
    padding: 1em;
    gap: 1em;
}

.report-single {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    gap: .2em
}

.report-single-title {
    display: flex;
    justify-items: center;
    align-items: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 1.1em;
    padding: 1em;
}

.report-single-content {
    width: var(--fill-parent);
}

.text-report {}

.list-report {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    gap: .2em;
}

.list-report-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

.list-report-item {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1em;
    align-items: center;
}

.graph-report {}

.graph-details{
    display: grid;
    gap: 1em;
    height: max-content;
    width: var(--match-parent);
    padding: .5em;
}

.graph-details-single{
    display: grid;
    gap: .3em;
    padding: 0em .3em;
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    padding: .5em;
    width: var(--match-parent);
}

.graph-details-single-name{
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: underline;
}

.graph-details-single-content{
    display: grid;
    gap: .1em;
    width: max-content;
}

.graph-details-single-label, .graph-details-single-duration{
    display: grid;
    gap: .2em;
    width: max-content;
}

.graph-details-single-duration-start, .graph-details-single-duration-end{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .2em;
    align-items: center;
    padding: 0em 10px;
}

.graph-details #set-graph-details{
    width: max-content;
    justify-self: flex-end;
}